<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.mapper.NodeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="nodeResultMap" type="com.zheng.pojo.KnowledgeNodeRelation">
        <id column="id" property="id"/>
        <id column="node_id" property="nodeId"/>
        <id column="next_node_id" property="nextNodeId"/>
        <id column="is_start" property="start"/>
        <result column="is_end" property="end"/>
    </resultMap>

    <select id="testDoron" resultMap="nodeResultMap">
        SELECT
        id,
        node_id,
        next_node_id,
        is_start,
        is_end
        FROM
        tb_multi_knowledge
    </select>

    <select id="findKnowledgeNodeById" resultMap="nodeResultMap">
        SELECT
        id,
        node_id,
        next_node_id,
        is_start,
        is_end
        FROM
        tb_multi_knowledge
        <where>
            <if test="id != '' and id != null">
                id = #{id}
            </if>
        </where>
    </select>


</mapper>