<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.mapper.NodeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="nodeResultMap" type="">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="pid" property="pid"/>
        <id column="parent_ids" property="parentIds"/>
        <result column="sequence" property="sequence"/>
        <result column="lavel" property="lavel"/>
    </resultMap>

    <select id="queryForbidListByCondition" resultMap="forbidResultMap">
        SELECT
        id,
        forbid_words,
        en_code,
        en_full_name,
        spell_code
        FROM
        tb_forbid_words
        <where>
            is_invalid = '1'
            <if test="forbidWords != null and forbidWords != ''">
                AND forbid_words LIKE CONCAT('%',#{forbidWords},'%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>


</mapper>